/* general */
html {
  font-size: 17px;
}

b {
  font-weight: 700;
}

.border-5 {
  border: 5px solid;
}

.h1 {
  font-size: 3em;
  margin: 25px 10px;
}

.p {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 25px 10px;
}

.italicize {
  font-style: italic;
}

/* header */
.header {
  height: 50px;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* TODO: remove */
  border-color: red;
}

.nav {
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

/* About */
.about-main {
  width: 50%;
  padding: 70px;
  /* TODO: remove */
  border-color: green;
}

/* timeline */
.timeline-main {
  /* TODO: remove */
  border-color: purple;
}

.profile-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  /* TODO: remove */
  border-color: yellow;
}

.year {
  grid-column: 1 / 3;
  text-align: center;
  /* TODO: remove */
  border-color: aqua;
}

.gallery {
  grid-column: 1 / 2;
  padding: 10px 20px;
  /* TODO: remove */
  border-color: brown;
}

.gallery__video {
  margin-bottom: 5px;
}

.gallery__images {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image-preview {
  width: 30%;
}

.summary {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  /* TODO: remove */
  border-color: palevioletred;
}

.show-title {
  grid-column: 1 / 4;
}

.classification {
  grid-column: 1 / 2;
}
.awards {
  grid-column: 2 / 4;
}
.description {
  grid-column: 1 / 4;
}
.instructors {
  grid-column: 1 / 2;
}
.members {
  grid-column: 2 / 4;
}
