/* global variables */
:root {
  --apache-gold: rgb(255, 195, 0);
  --apache-cardinal: rgb(123, 25, 30);
}

/* general */
html {
  font-size: 17px;
  color: #fff;
  background-color: #000;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

.border-5 {
  border: 5px solid;
}

.pad-right-10 {
  padding-right: 10px;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

.upper-case {
  text-transform: uppercase;
}

.h1 {
  font-size: 3em;
  margin: 25px 10px;
}

.h2 {
  font-size: 2em;
}

.p {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 25px 10px;
}

.italicize {
  font-style: italic;
}

/* header */
.header {
  height: 50px;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--apache-cardinal);
  /* TODO: remove */
  border-color: red;
}

.nav {
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.nav-list__anchor {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-list__anchor:hover,
.nav-list__anchor:focus {
  text-decoration: underline;
}

/* About */
.about-main {
  width: 50%;
  padding: 70px;
  /* TODO: remove */
  border-color: green;
}

/* timeline */
.timeline-main {
  /* TODO: remove */
  border-color: purple;
}

.profile-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 5px;
  /* TODO: remove */
  border-color: yellow;
}

.year {
  grid-column: 1 / 3;
  text-align: center;
  color: var(--apache-gold);
  /* TODO: remove */
  border-color: aqua;
}

.gallery {
  grid-column: 1 / 2;
  padding: 10px 20px;
  /* TODO: remove */
  border-color: brown;
}

.gallery__video {
  margin-bottom: 5px;
}

.gallery__images {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.image-preview {
  width: 30%;
}

.summary {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 2em;
  padding: 10px 20px;
  /* TODO: remove */
  border-color: palevioletred;
}

.summary__label {
  font-size: 0.85em;
}

.show-title {
  grid-column: 1 / 5;
}

.classification {
  grid-column: 1 / 2;
}

.awards {
  grid-column: 2 / 5;
}

.description {
  grid-column: 1 / 5;
  font-size: 1em;
  margin: 0;
}

.instructors {
  grid-column: 1 / 2;
}

.instructors-ul {
  line-height: 1.5em;
}

.members {
  grid-column: 2 / 5;
}

.members-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.5em;
  max-height: 350px;
}
